{"53897887":{"identifier":"","resolved":true,"toModule":false,"effectiveVersion":"1.1.1"},"1091225966":{"identifier":"","resolved":true,"toModule":false,"effectiveVersion":"2.0.4"},"1559919610":{"identifier":"","resolved":true,"toModule":false,"effectiveVersion":"3.2.11"},"1649241824":{"identifier":"","resolved":true,"toModule":false,"effectiveVersion":"1.0.1"},"470131123":{"identifier":"","resolved":true,"toModule":false,"effectiveVersion":"3.1.3"},"-38432847":{"identifier":"","resolved":false,"toModule":false,"effectiveVersion":""}}